#entryButton{
    color: white;
    background-color: red;
    border-color: red;
    border-style: solid;
    float: right;
}

#editTable th, #editTable td, #editTable input{
    width: 100px;
}

h1{
    background-color: #051642 !important;
    color: white !important;
}