td,th {
    min-width: 100px; /* the normal 'fixed' width */
    width: 100px; /* the normal 'fixed' width */
    max-width: 100px; /* the normal 'fixed' width, to stop the cells expanding */
  }
  input {
      max-width: 100px;
  }