nav {
  background-color: darkslategray;
  overflow: hidden;
  padding: 1.5em;


}

a{
  color: white;
  font-weight: bold;
  font: Tahoma;
  padding: 0.8cm;
  text-decoration: none; 
}

a:hover{
  color:white;
  opacity:0.7;
}

div.wideDiv{
  text-align: right;
}

button.loginButton{
  color: white;
  background-color: #00ADA2;
  border-style: solid;
  border-color: #00ADA2;
  border-radius: 2px;
  font-weight: bold; 
}

button.signupButton{
  color: #051642;
  background-color: #ffffff;
  border-style: solid;
  border-color: #ffffff;
  border-radius: 2px;
  font-weight: bold; 
}

