.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#app-body {
  text-align: center;
  overflow: auto;
} 


#homepage {
  background-color: #051642;
  height: 2000px;
}
