.inputContainer{

    position: absolute;
    
    width: 450px;
    height: 58px;
    left: 560px;
    top: 230px;
    align-items: center;
      
    }
    
    .loginBtn{
        position: absolute;
        top: 80px;
        left: 47px;
        background-color: #4d9e56;
        color:white;
        border: 2px solid gray; 
    }
    
    .btn:hover{
        background-color: rgb(9, 148, 9);
        transition-duration: 0.2s;
        cursor: pointer;
    }
    
    .registerLink{
        position:absolute;
        top:125px;
        right:350px;
        font-size: 80%;
    }
    
    .registerBtn{
        position:absolute;
        font-size: 100%;
        font-family:inherit;
        border: 0;
        padding:0;
        top: 123px;
        font-size: 80%;
        right: 280px;
        color: black;
        
    }
    .registerBtn:focus{
        outline:0;
    }
    .registerBtn:hover{
        transition-duration: 0.1s;
        cursor:pointer;
        color:rgb(97, 93, 93)
       
        
    }