.gridContainer {
    display: grid;
    grid-template-rows: 75px;
    grid-auto-rows: auto;
    width: 795px;

    margin-right: auto;
    margin-left: auto;

}

.isgTop {
    display: flex;
    background-color: #00ADA2;
    align-items: center;

}

.isgBottom {
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    background-color: white;

}

.incomeStatementsDropDownReports {
    margin-right: 465px;
}

.incomeStatementDropDownCurrency {
    float: right;
    padding: 0px;

}

.isDropDownCurrencyMenu {
    background-color: white;
}

.isDataTable {
    width: 795px;
}

.dropdownContainer {
    width: 100px;
    /*margin-left: 10px;*/
    /*margin-right: 10px;*/
}












