.incomeStatementRoot {
    height: 100%;
    width: 100%;

    background-color: #051642;


}

.gridContainer {
    display: grid;
    grid-template-rows: 10%;
    grid-auto-rows: 90%;
    height: 795px;
    width: 795px;

    margin-bottom: 100px;

    margin-right: auto;
    margin-left: auto;

}

.isgTop {
    display: flex;
    flex-direction: row;
    background-color: #00ADA2;
    align-items: center;
}

.isgBottom {
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    background-color: white;

}

.isDropDownReports {
    background-color: #727272;
    margin-left: 30px;
    margin-right: 260px;
}

.isDropDownReportsMenu {

    background-color: white;
}

.isStartDatePicker {
    height: 38px;
    width: 100px;
    margin-left: px;
    margin-right: 10px;
}

.isEndDatePicker {
    height: 38px;
    width: 100px;
}

.isDropDownCurrency {
    float: right;
    background-color: #727272;
    margin-left: 30px;
    margin-right: 10px;
    padding: 0px;

}

.isDropDownCurrencyMenu {
    background-color: white;
}

.isDataTable {
    width: 795px;
}















