.loginRoot {

}

.navbarLogin {
    background: white;
    height: 60px;

}

.navbarLoginDiv {
    box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.49);
}

.navbarLoginFormGap {
    padding-top: 100px;
}


.loginBody {
    background-image: url("CurrentSea_bg.png");

    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding-bottom: 100px;
}

.loginContainerGrid {
    display: grid;
    grid-template-rows: 30%;
    grid-auto-rows: 35% 35%;

    height: 550px;
    width: 500px;

    margin-right: auto;
    margin-left: auto;

    background-color: white;

}

.lcgTop {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 325%;
    color: #051642;
}

.loginFieldsContainer {
    padding-top: 10px;
    display: table;
    margin: 0 auto;

}

.loginFormField {

    font-size: large;
    text-indent: 10px;
    border: none;
    width: 375px;
    height: 50px;
    background-color: #E5E5E5;
    font-family: 'Roboto', sans-serif;
}

.loginFieldGap {
    padding: 10px;
}


.lcgBottom {

}

.loginButtonContainer {

}

.loginButton {
    width: 130px;
    height: 50px;
    color: white;
    background-color: #00ADA2;
    font-size: large;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    border: #00ADA2;
    border-radius: 2px;
    margin:0 auto;
    display:block;
    cursor: pointer;

}

.registerDiv {
    text-align: center;
    margin-top: 75px;
}

.regLink {
    font-size: medium;
    padding: 0px;
    color: black;
}

.regLink:hover {
    color: blue;
}

.signUpButtonToolbar {
    width: 115px;
    height: 35px;
    color: #051642;
    background-color: transparent;
    border: none;
    font-size: large;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    display:block;
    float: right;
    margin-top: 13px;
    cursor: pointer;
}











