.rootContainer {
    display: flex;
    flex-direction: column;
    background-image: url("pexels-photo-259165.jpeg");
    height: 100vh;
    padding-top: 150px;
}


.container {
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: center;
    background-color: white;
}


.titleLabel {
    padding-bottom: 25px;
    text-align: center;
    font-size: 50px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    color: #00ADA2;
}

.emailField {
    margin-bottom: 8px;
    width: 300px;
    border: none;
    background-color: #E5E5E5;
    font-size: 20px;
    text-indent: 10px;
}

.passwordField {
    border-radius: 0px;
    margin-bottom: 15px;
    width: 300px;
    border: none;
    background-color: #E5E5E5;
    font-size: 20px;
    text-indent: 10px;
}

.loginButtonSignInDiv {
    margin-top: 8px;
    text-align: center;
}

.loginButtonSignIn {
    color: white;
    background-color: #00ADA2;
    border-style: solid;
    border-color: #00ADA2;
    border-radius: 2px; 
}

.registerDiv {
    text-align: center;
}

.regLink {
    font-size: x-small;
    padding: 0px;
    color: black;
}

.forgotDiv {
    margin-top: -10px;
    text-align: center;
    margin-bottom: 20px;
}

.forgotLink {
    font-size: x-small;
    padding: 0px;
    color: black;

}


