.signUpRoot {

}

.navbarSignUp {
    background: white;
    height: 60px;
}

.navbarSignUpFormGap {
    padding-top: 100px;
}

.signUpBody {
    background-image: url("CurrentSea_bg.png");
    height: 1024px;
}

.signUpContainerGird {
    display: grid;
    grid-template-rows: 25% 75%;

    height:725px;
    width: 500px;

    margin-right: auto;
    margin-left: auto;

    background-color: white;
}

.sucTop {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 325%;
    color: #051642;
}

.sucBottom {

}

.signUpFormFieldsContainer {
    padding-top: 10px;
    display: table;
    margin: 0 auto;
}

.supUserNameDiv {

}

.firstNameField {
    font-size: large;
    text-indent: 10px;
    border: none;
    width: 182px;
    height: 50px;
    background-color: #E5E5E5;
    font-family: 'Roboto', sans-serif;
}

.lastNameField {
    font-size: large;
    text-indent: 10px;
    border: none;
    width: 182px;
    height: 50px;
    background-color: #E5E5E5;
    font-family: 'Roboto', sans-serif;
    float: right;
}

.supFormField {
    font-size: large;
    text-indent: 10px;
    border: none;
    width: 375px;
    height: 50px;
    background-color: #E5E5E5;
    font-family: 'Roboto', sans-serif;
}

.signUpButton {
    width: 130px;
    height: 50px;
    color: white;
    background-color: #00ADA2;
    font-size: large;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    display:block;
}

.supSignInDiv {
    text-align: center;
    margin-top: 60px;
}

.supsignInLink {
    font-size: medium;
    padding: 0px;
    color: black;
}

.supSignInLink:hover {
    color: blue;
}

.signUpButtonDiv {
    margin-top: 50px;
}
