

.bottomBody {
    flex-direction: row;
    display:flex;
}

.gridContaienr{
    width: 50%;
}

.currencyreportsContainer {
    background-color: #051642;
    height: 1200px;
    width: 100%;
}

.tableTop {
    width: 750px;
    display: flex;
    flex-direction: row;
    background-color: #00ADA2;
    align-items: center;
    margin-left: 30px;
    margin-top: 20px;
}


.tableBottom {
    width: 750px;
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: initial;
    margin-left: 30px;

}
.word{
    width: 600px;
    margin-left: 350px;

}
.dropdown{
    width: 200px;
    height: 38px;
    padding-left: 0px;
    left:20px;
}
