
.bottomBody {
    flex-direction: row;
    display:flex;
}

.gridContaienr{
    width: 50%;
}
.linechart{
    /* border-left: 10px; */
    width: 50%;
    height: 500px;
    background-color: white;
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 30px;
    text-align: left;
       
}

.currencyreportsContainer {
    background-color: #051642;
    height: 1200px;
    width: 100%;
}

.tableTop {
    width: 750px;
    display: flex;
    flex-direction: row;
    background-color: #00ADA2;
    align-items: center;
    margin-left: 30px;
}


.tableBottom {
    width: 750px;
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: initial;
    margin-left: 30px;

}
.clickButton {
    width: 500px;
    display: flex;
    flex-direction: row;
    margin-left: 30px;

}
.currencyHolder {
    width: 400px;
    margin-left: 10px;
    margin-right: 10px;
    
}
.word{
    width: 400px;
    margin-left: 50px;
}
.dropdown{
    width: 200px;
    height: 38px;
    padding-left: 0px;
    left:20px;
}
