
div.tableContainer{
    margin-block-start: 30px;
    height: 100vh; /* Magic here */
    display: flex;    
    justify-content: left;
    background: #051642;
    margin:0;
    margin-block-start:0;
    float:left;
    width:fit-content;
  
  
}

div.bigContainer h1 {
    font-family: 'Roboto',sans-serif;
    color: white;
    text-align: center; 
    padding-bottom: 5px; 
    padding-top: 40px; 

}

div.bigContainer h6 {
    font-family: 'Roboto',sans-serif;
    font:bold;
    text-align: center; 
    color:white;
    margin-bottom: 40px; 
}

div.accounts-table, div.quick { float: left;}


div.tableContainer {overflow: hidden;}


/* 
Styling to make the table readable
*/

#dataTableA td, #dataTableA th {
    background-color: #ffffff;
}

#dataTableA tr:nth-child(even){background-color: #f2f2f2;}

#dataTableA th{
    padding-top: 12px;
    padding-bottom: 12px;
    
    padding: 8px;
    text-align: left;
    background-color:white;
    color: black;
    width: 210px;
}

#nested td {
    text-align: left;
    width: 200px;
}

#nested button {
    width: 200px;
    background-color: white;
    border-color: white;
    border-style: solid;
    text-align: left;
}

#addAccountButton {
    width: 700px;
    text-align: center;
    color: white;
    background-color: #00ADA2;
    border-color: #00ADA2;
    border-style: solid;
}



