div.tableContainer{
    margin-block-start: 16px;
    height: 100vh; /* Magic here */
    display: flex;    
    justify-content: center;
}

div.tableContainer{
    margin-inline-end: 40px;
}

.header-name{
    margin-inline-start: 8px;
    margin-inline-end: 8px;
}

.dot{
    height: 24px;
    width: 24px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-inline-end: 8px;
}



div.transaction-table, div.quick { float: left;}
div.summary1, div.summary2 {float: left;}
div.summary3, div.other {float: left;}
span.dot, span.text {float:left;}

div.tableContainer {overflow: hidden;}
div.row1 {overflow: hidden;}
div.row2 {overflow: hidden;}
div.summary1 {overflow: hidden;}
div.summary2 {overflow: hidden;}
div.summary3 {overflow: hidden;}
div.other {overflow: hidden;}

/* 
Styling to make the table readable
*/

#dataTableA td, #dataTableA th {
    background-color: #ffffff;
}

#dataTableA tr:nth-child(even){background-color: #f2f2f2;}

#dataTableA th{
    padding-top: 12px;
    padding-bottom: 12px;
    
    padding: 8px;
    text-align: left;
    background-color:white;
    color: black;
    width: 250px;
}

#nested td {
    text-align: left;
    width: 250px;
}

#nested button {
    width: 250;
    background-color: white;
    border-color: white;
    border-style: solid;
    text-align: left;
}

#addEntryButton {
    width: 600px;
    text-align: center;
    color: white;
    background-color: rgb(2, 228, 115);
    border-color: rgb(2, 228, 115);
    border-style: solid;
}



