

/* 
Styling to make the table readable
*/

.accountsTable {
    background-color: white;
}

.accountsTableRow {
    width: 400px;
}

#addAccountButton {
    width: 500px;
    text-align: center;
    color: white;
    background-color: #00ADA2;
    border-color: #00ADA2;
    border-style: solid;
}

.accountDeleteButton {
    background: none;
    border: none;
}

/*#dataTableA tr:nth-child(even){background-color: #f2f2f2;}*/

/*#dataTableA th{*/
/*!*padding-top: 12px;*!*/
/*!*padding-bottom: 12px;*!*/

/*!*padding: 8px;*!*/
/*text-align: left;*/
/*background-color:white;*/
/*color: black;*/
/*!*width: 210px;*!*/
/*}*/

/*#nested td {*/
/*!*text-align: left;*!*/
/*!*width: 200px;*!*/
/*}*/

/*#nested button {*/
/*!*width: 200px;*!*/
/*!*background-color: white;*!*/
/*!*border-color: white;*!*/
/*!*border-style: solid;*!*/
/*!*text-align: left;*!*/
/*}*/

