.accountsTable {
    background-color: white;
}

.accountsTableRow {
    width: 400px;
}

#addAccountButton {
    width: 500px;
    text-align: center;
    color: white;
    background-color: #00ADA2;
    border-color: #00ADA2;
    border-style: solid;
}

.accountDeleteButton {
    background: none;
    border: none;
}