.settingsRoot {
    background-color: #051642;
}

#h1titleSettings{

    color: white !important;
    text-align: center !important;
    background-color: #051642 !important;
}

.settingsBothTitlesDiv {
    padding: 40px;
}

.settingSubHead {
    background-color: #051642;
    text-align: center;
    color: white;
    margin: 10px;
}

.settingsTableDiv {
    display: flex;
    flex-direction: row;
    padding-bottom: 100px;
    justify-content: center;

}

.accountsDiv {
    margin-right: 10px;
}

.settingsTableTitle {
    background-color: #E5E5E5;
    text-align: center;
    font-family: apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: x-large;
    color: #00ADA2;
}