/*.reports-objects{*/
    /*display: flex;*/
/*}*/

/*.reports-menu{*/
    /*width: 200px;*/
/*}*/

.reportsRootContainer {
    background-color: #051642;
    height: 100%;
}

.reportsTitle {
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    padding: 40px;
}