div.container{
    margin-block-start: 16px;
}

div.transaction-table{
    margin-inline-end: 40px;
}

.header-name{
    margin-inline-start: 8px;
    margin-inline-end: 8px;
}

.dot{
    height: 24px;
    width: 24px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-inline-end: 8px;
}

div.summary1{
    margin: 8px;
}
div.summary2{
    margin: 8px;
}
div.summary3{
    margin: 8px;
}
div.other{
    margin: 8px;
}

div.transaction-table, div.quick { float: left;}
div.summary1, div.summary2 {float: left;}
div.summary3, div.other {float: left;}
span.dot, span.text {float:left;}

div.container {overflow: hidden;}
div.row1 {overflow: hidden;}
div.row2 {overflow: hidden;}
div.summary1 {overflow: hidden;}
div.summary2 {overflow: hidden;}
div.summary3 {overflow: hidden;}
div.other {overflow: hidden;}

/* 
Styling to make the table readable
*/

#dataTable td, #dataTable th {
    background-color: #ffffff;
}

#dataTable tr:nth-child(even){background-color: #f2f2f2;}

#dataTable th{
    padding-top: 12px;
    padding-bottom: 12px;
    
    padding: 8px;
    text-align: left;
    background-color:white;
    color: black;
    width: 100px;
}

#nested td {
    text-align: left;
    width: 100px;
}

#nested button {
    width: 100px;
    background-color: white;
    border-color: white;
    border-style: solid;
    text-align: left;
}

#addEntryButton {
    width: 600px;
    text-align: center;
    color: white;
    background-color: rgb(2, 228, 115);
    border-color: rgb(2, 228, 115);
    border-style: solid;
}




/*

All of this is legacy code cause we had to completely change how the transactions page looked....


.Transaction-header {
    background-color: #282c34;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    color: white;
}

.Transaction-table {
    position: relative;
    width: 977px;
    height: 876px;
    left: 25px;
    top: 123px;

    background: rgba(196, 196, 196, 0.03);
    border: 3px solid #000000;
    box-sizing: border-box;
}

#headerCategory {
    position: absolute;
    width: 409px;
    height: 44px;
    left: 37px;
    top: 20px;

    background: #C4C4C4;
}

.Transaction-category {
    width: 358px;
    height: 41px;
    left: 155px;
    top: 139px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 36px;

    color: #000000;

}

#headerCurrency {
    position: absolute;
    width: 409px;
    height: 44px;
    left: 510px;
    top: 20px;

    background: #C4C4C4;
}

.Transaction-currency {
    width: 358px;
    height: 41px;
    left: 607px;
    top: 139px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 36px;

    color: #000000;

}

#columnLine{
    position: absolute;
    width: 856px;
    height: 0px;
    left: 50px;
    top: 428px;

    border: 1px solid #8d8d8d;
    transform: rotate(270deg);
}

#rowLine{
    position: relative;
    width: 940px;
    height: 0px;
    right: 2px;
    top: 66px;

    border: 1px solid #8d8d8d;
}

.Transaction-body{
    position: absolute;
    top: 80px;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    color: #8d8d8d;
}

.Transaction-entryLeft{
    position: relative;
    left: 20px;
}

.Transaction-entryRight{
    position: relative;
    left: 400px;
}
*/

