div.myContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
    background-color: #051642;
    color: white;
}

div.transaction-table{
    margin-inline-end: 40px;
    margin-top: 40px;


}

.header-name{
    margin-inline-start: 8px;
    margin-inline-end: 8px;
}

.dot{
    height: 24px;
    width: 24px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-inline-end: 8px;
}

div.summary1{
    margin: 8px;
}
div.summary2{
    margin: 8px;
}
div.summary3{
    margin: 8px;
}
div.other{
    margin: 8px;
}

div.transaction-table, div.quick { float: left;}
div.summary1, div.summary2 {float: left;}
div.summary3, div.other {float: left;}
span.dot, span.text {float:left;}

div.myContainer {overflow: hidden;}
div.row1 {overflow: hidden;}
div.row2 {overflow: hidden;}
div.summary1 {overflow: hidden;}
div.summary2 {overflow: hidden;}
div.summary3 {overflow: hidden;}
div.other {overflow: hidden;}

/* 
Styling to make the table readable
*/

#dataTable td, #dataTable th {
    background-color: #ffffff;
}

#dataTable tr:nth-child(even){background-color: #f2f2f2;}

#dataTable th{
    padding-top: 12px;
    padding-bottom: 12px;
    
    padding: 8px;
    text-align: left;
    background-color:white;
    color: black;
    width: 100px;
}

#nested td {
    text-align: left;
    width: 100px;
}

#nested button {
    width: 100px;
    background-color: white;
    border-color: white;
    border-style: solid;
    text-align: left;
}

#addEntryButton {
    width: 600px;
    text-align: center;
    color: white;
    background-color: #00ADA2;
}



