div.myContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #051642;
    height: auto;
    color: white;
}

div.bigContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #051642;
    height: auto;
}

div.bookkeepingTitleDiv {
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 10px;
}

#h1title{
    color: white !important;
    text-align: center !important;
    background-color: #051642 !important;
    padding: 40px;
}

div.transaction-table{
    margin-inline-end: 40px;
    height: auto;
}

div.conversion {
    background-color: white;
    color: black;
    margin-block-end: 8px;
    padding: 16px;
    min-width: 200px;
    min-height: 280px;
}

div.summary {
    background-color: white;
    color: black;
    margin-block-end: 8px;
    padding: 16px;
}

.header-name{
    margin-inline-start: 8px;
    margin-inline-end: 8px;
}

span.dot{
    height: 24px;
    width: 24px;
    border-radius: 50%;
    display: inline-block;
    margin-inline-end: 8px;
}

div.transaction-table, div.quick { float: left;}

div.quick {
    min-width: 400px;
}

span.text {float:left;}

/* 
Styling to make the table readable
*/

#dataTable td{
    background-color: #ffffff;
    color: black;
    
    text-align: left;
}

#dataTable tr:nth-child(even){background-color: #f2f2f2;}

#dataTable th{
    padding-top: 12px;
    padding-bottom: 12px;
    
    padding: 8px;
    
    background-color: #ffffff;
    color: black;
}

#nested td {
    background-color: white;
    border-color: white;
    border-style: solid;
    text-align: left;
}

#nested button {
    background-color: white;
    border-color: white;
    border-style: solid;
    text-align: left;
}

#addEntryButton {
    width: 100%;
    text-align: center;
    color: white;
    background-color: #00ADA2;
    border: #00ADA2;
}

div.conversion p, div.conversion h3{
    margin-top: 8px;
    margin-bottom: 8px;
}

div.conversion h2 {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 5px;
}

div.conversion input {
    margin-top: 10px;
    margin-bottom: 8px;
    margin-left: 10px;
    color: black;
    font-size: 15px;
    max-width: 160px;
}

#currency-number-in {
    margin-bottom: 8px;
    margin-left: 10px;
    padding-left: 1px;
    color: black;
    font-size: 15px;
    max-width: 120px;
    text-align: center;
    float: left;
    overflow: auto;
}

#currency-number-out {
    margin-bottom: 8px;
    margin-left: 10px;
    padding-left: 1px;
    color: black;
    font-size: 15px;
    max-width: 120px;
    text-align: center;
    float: left;
    overflow: auto;
    width: 88px;
}

#start-currency, #end-currency {
    color: black;
    /*padding: 15px;*/
    width: 100px;
    margin-left: 25px;
    height: auto;
    float: right;
}

button:focus {outline:0;}

button {
    cursor: pointer;
}

.currency-out {
    /*display:inline-block;*/
    margin-left: 10px;
    text-align: center;
    /*max-width: 100px;*/
}

#currency-equal {
    font-size: 40px;
    margin-top: 70px;
    margin-bottom: 20px;
}